# Ignorar toda la carpeta html excepto index.html
documents/html/*
!documents/html/index.html


# Ignorar toda la carpeta latex excepto refman.tex y refman.pdf
documents/latex/*
!documents/latex/refman.tex
!documents/latex/refman.pdf

# Otros 
.venv
*.o
*.aux
*.log
*.out
*.toc
bin/
results/*.dat
results/*.txt
doxygen_warnings.log